<!DOCTYPE html>
<html lang="en">

<% let activity = user.detailedActivities[activityID] %>

<head>
    <%- include ('./partials/head.ejs') %>

    <title><%= user.firstname %>'s <%= activity.type %></title>
</head>

<%

//calculations for table values that are not properties

let total_time = new Date(1000 * activity.elapsed_time).toISOString().substr(11, 8)
let moving_time = new Date(1000 * activity.moving_time).toISOString().substr(11, 8)
let km = activity.distance/1000
let mi = activity.distance/1000*0.621371
let paceSecKM = activity.moving_time/km
let paceMinKM = new Date(1000 * paceSecKM).toISOString().substr(14, 5)
let paceSecMI = activity.moving_time/mi
let paceMinMI = new Date(1000 * paceSecMI).toISOString().substr(14, 5)

%>

<body>
    <%- include ('./partials/sticky_nav.ejs') %>
        
    <br>
    <div class="container rounded my-3 py-3 text-center">
        <h1 class="mx-2 text-center font-weight-bold border-bottom"><%= activity.name %></h1>
        
        <h3>
            <span class="font-weight-bold">Activity Type:</span>
            <%= activity.type %>
        </h3>
        
        <h3 class="d-inline-block">
            <span class="font-weight-bold">Date:</span>
            <%= new Date(activity.start_date_local).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %>,
            <span class="font-weight-bold">Start Time:</span>
            <%= new Date(activity.start_date_local).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) %>
        </h3>

        <h3><span class="font-weight-bold">Custom Note: </span><%= activity.customNote %></h3>
        <form action="/activity/<%= activityID %>/note" method="get">
            <button type="submit" class="btn btn-success">Edit Custom Note</button>
        </form>

        <div id="activity-overall-details" class="container rounded my-3 py-3 text-left">
            <h5><span class="font-weight-bold">Total Time: </span><%= total_time %></h5>
            <h5><span class="font-weight-bold">Moving Time: </span><%= moving_time %></h5>
            <h5><span class="font-weight-bold">Average Speed (m/s): </span><%= activity.average_speed %></h5>
            <h5><span class="font-weight-bold">Max Speed (m/s): </span><%= activity.max_speed %></h5>
            <h5><span class="font-weight-bold">Elevation Gain (m): </span><%= activity.total_elevation_gain %></h5>        
        </div>
    </div>


    <div class="container rounded my-3 py-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-item nav-link active" data-toggle="tab" href="#metric">Metric</a></li>
            <li><a class="nav-item nav-link" data-toggle="tab" href="#imperial">Imperial</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="metric" class="tab-pane fade in active show">
                <h3 class="my-3"><span class="font-weight-bold border-bottom">Metric Data<span class="font-weight-bold"></h3>
                <h5><span class="font-weight-bold">KMs: </span><%= km.toFixed(2) %></h5>
                <h5><span class="font-weight-bold">Pace (min/km): </span><%= paceMinKM %></h5>
                <h5 class="text-center my-2"><span class="font-weight-bold">Splits</span></h5>
                <table class="table table-striped table-sm border">
                    <thead>
                        <th>KMs #</th>
                        <th>Total Time (min)</th>
                        <th>Average Speed (min/km)</th>
                        <th>Elevation (m)</th>
                    </thead>
                    <tbody>
                        <% for(const split of activity.splits_metric) { %>
                            <%
                            let splitKM = split.distance/1000
                            let splitPaceSecKM = split.moving_time/splitKM
                            let splitPaceMinKM = new Date(1000 * splitPaceSecKM).toISOString().substr(14, 5)
                            %>

                            <tr>
                                <td>
                                    <% if(Math.abs(1-splitKM) > 0.1) { %>
                                        <%= splitKM.toFixed(2) %>
                                    <% } else { %>
                                        <%= split.split %>
                                    <% } %>
                                </td>
                                <td><%= new Date(1000 * split.elapsed_time).toISOString().substr(14, 5) %></td>
                                <td><%= splitPaceMinKM %></td>
                                <td><%= split.elevation_difference %></td>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>


            <div id="imperial" class="tab-pane fade">
                <h3 class="my-3"><span class="font-weight-bold border-bottom">Imperial Data</span></h3>
                <h5><span class="font-weight-bold">Miles: </span><%= mi.toFixed(2) %></h5>
                <h5><span class="font-weight-bold">Pace (min/mi): </span><%= paceMinMI %></h5>
                <h5 class="text-center"><span class="font-weight-bold">Splits</span></h5>
                <table class="table table-striped table-sm border" >
                    <thead>
                        <th>Mile #</th>
                        <th>Total Time (min)</th>
                        <th>Average Speed (min/mi)</th>
                        <th>Elevation (m)</th>
                    </thead>
                    <tbody>
                        <% for(const split of activity.splits_standard) { %>
                            <%
                            let splitMI = split.distance/1000*0.621371
                            let splitPaceSecMI = split.moving_time/splitMI
                            let splitPaceMinMI = new Date(1000 * splitPaceSecMI).toISOString().substr(14, 5)
                            %>
            
                            <tr>
                                <td>
                                    <% if(Math.abs(1-splitMI) > 0.1) { %>
                                        <%= splitMI.toFixed(2) %>
                                    <% } else { %>
                                        <%= split.split %>
                                    <% } %>
                                </td>
                                <td><%= new Date(1000 * split.elapsed_time).toISOString().substr(14, 5) %></td>
                                <td><%= splitPaceMinMI %></td>
                                <td><%= split.elevation_difference %></td>
            
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%- include ('./partials/bootstrap_scripts.ejs') %>

    <script>
        $(()=>{
            $('#stravaLink').attr('href', 'https://www.strava.com/activities/<%= activity.id %>')
            $('#stravaLink').removeClass('disabled')
        })
    </script>
</body>

</html>