<!DOCTYPE html>
<html lang="en">

<% let activity = user.detailedActivities[activityID] %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.firstname %>'s <%= activity.type %></title>
</head>

<%

//calculations for table values that are not properties

let total_time = new Date(1000 * activity.elapsed_time).toISOString().substr(11, 8)
let moving_time = new Date(1000 * activity.moving_time).toISOString().substr(11, 8)
let km = activity.distance/1000
let mi = activity.distance/1000*0.621371
let paceSecKM = activity.moving_time/km
let paceMinKM = new Date(1000 * paceSecKM).toISOString().substr(14, 5)
let paceSecMI = activity.moving_time/mi
let paceMinMI = new Date(1000 * paceSecMI).toISOString().substr(14, 5)

%>

<body>
    <h1><a href="https://www.strava.com/activities/<%= activity.id %>"><%= activity.name %></a></h1>
    <h3>Date:
        <%//= activity.start_date_local.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %>
    </h3>
    <h3>Total Time: <%= total_time %></h3>
    <h3>Moving Time: <%= moving_time %></h3>
    <h3>Elevation Gain: <%= activity.total_elevation_gain %></h3>
    <h3>KMs: <%= km.toFixed(2) %></h3>
    <h3>Miles: <%= mi.toFixed(2) %></h3>
    <%  %>
    <h3>Pace (min/km): <%= paceMinKM %></h3>
    <h3>Pace (min/mi): <%= paceMinMI %></h3>

    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>

    <form action="/refresh/<%= user.stravaID %>" method="post">
        <button type="submit">Refresh Data</button>
    </form>


</body>

</html>