<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>

    <title>Activity Note</title>
</head>

<body>
    <%- include ('./partials/sticky_nav.ejs') %>

    <h1>Edit Custom Note</h1>
    <form action="/activity/<%= activityID %>/note" method="post" id="noteForm">
        <textarea name="customNote" id="customNote" cols="30" rows="10" form="noteForm" placeholder="Enter a custom note for this activity"><%= user.detailedActivities[activityID].customNote %></textarea>
        <br>
        <button type="submit" class="btn btn-success">Save Note</button>
    </form>



    <%- include ('./partials/bootstrap_scripts.ejs') %>
</body>

</html>