<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.firstname %>'s Profile</title>
</head>

<body>
    <h1><%= user.firstname %> <%= user.lastname %></h1>
    <img src="<%= user.profile %>" alt="user picture">
    <h3>Username: <%= user.username %></h3>
    <h3>ID: <%= user.id %></h3>
    <h3>Location: <%= user.city %>, <%= user.state %></h3>
    <h3>Account Created: <%= new Date(user.created_at) %></h3>
</body>

</html>