<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css"> 

    <title><%= user.firstname %>'s Profile</title>
</head>

<body>
    <div class="container text-center">
        <h1 class="mx-auto d-block"><span class="font-weight-bold"><%= user.firstname %> <%= user.lastname %></span></h1>

        <% let imgPath = '' %>
        <% if(user.profile.split('/')[0] !== "avatar") { %>
            <% imgPath = user.profile %>
        <% } else { %>
            <% imgPath = '/blank-user.jpg' %>
        <% } %>
        <img src="<%= imgPath %>" alt="user picture" class="img-thumbnail w-25 rounded mx-auto d-block">

        <div class="container text-left" style="width: 470px;">
            <% let username = 'None' %>
            <% if(user.username != null) { %>
                <% username = user.username %>
            <% } %>
            <h3 class="mx-auto d-block"><span class="font-weight-bold">Username: </span><%= username %></h3>
            <h3 class="mx-auto d-block"><span class="font-weight-bold">ID: </span><%= user.stravaID %></h3>
            <h3 class="mx-auto d-block"><span class="font-weight-bold">Location: </span><%= user.location %></h3>
            <h3 class="mx-auto d-block"><span class="font-weight-bold">Account Created: </span><%= user.created_at %></h3>
        </div>
    </div>

    <form action="/" method="get">
        <button type="submit">Logout</button>
    </form>

    <form action="/refresh/<%= user.stravaID %>" method="post">
        <button type="submit">Refresh Data</button>
    </form>

    <form action="/delete/<%= user.stravaID %>?_method=DELETE" method="post">
        <button type="submit">Delete Data (only from this site)</button>
    </form>

    <table>
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>Activity Type</th>
            <th>Distance (km)</th>
            <th>Distance (mi)</th>
            <th>Moving Time</th>
            <th>Elapsed Time</th>
            <th>Average Speed (m/s)</th>
            <th>Max Speed (m/s)</th>
        </thead>
        <tbody>
            <% if (typeof user.allActivities !== 'undefined') { %>
                <% for(let i=0; i < user.allActivities.length; i++) { %>
                    <% let fullDate = new Date(user.allActivities[i].start_date_local) %>
                <tr>
                    <td><a href="/activity/<%= user.allActivities[i].id %>"><%= user.allActivities[i].name %></a></td>
                    <td><%= fullDate.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></td>
                    <td><%= fullDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></td>
                    <td><%= user.allActivities[i].type %></td>
                    <td><%= (user.allActivities[i].distance/1000).toFixed(2) %></td>
                    <td><%= (user.allActivities[i].distance/1000*0.621371).toFixed(2) %></td>
                    <td><%= new Date(1000 * user.allActivities[i].moving_time).toISOString().substr(11, 8) %></td>
                    <td><%= new Date(1000 * user.allActivities[i].elapsed_time).toISOString().substr(11, 8) %></td>
                    <td><%= user.allActivities[i].average_speed %></td>
                    <td><%= user.allActivities[i].max_speed %></td>
                </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>